{% extends 'base.html' %}

{% block title %}Scout{% endblock %}

{% block content %}
<h2>Indexing arXiv</h2>
<p>Scout maintains an up-to-date index of papers available on arXiv.
  Entries are composed of the unique arXiv ID and the original date of publication or time of indexing.
  As of {{ current_time }}, there are {{ num_papers }} papers indexed.</p>

{% if graph_data %}
  {% if cdn_js %}
    <script type="text/javascript" src= {{ cdn_js }}></script>
  {% endif %}

  {% if cdn_css %}
    <link rel="stylesheet" href={{ cdn_css }} type="text/css" />
  {% endif %}

  {{ graph_data | safe }}
{% endif %}


<div class="container mt-4">
  <a href="{{ url_for('scrape') }}" class="text-decoration-none">
      <button type="button" class="btn btn-primary">Manual Scrape</button>
  </a>

  <a href="{{ url_for('refresh') }}" class="text-decoration-none">
      <button type="button" class="btn btn-secondary">Refresh Graph</button>
  </a>
</div>

{% endblock %}