{% extends 'base.html' %}

{% block title %}Scout{% endblock %}

{% block content %}
<h2>Upload arXiv data</h2>
<p>Provide a CSV file of arXiv IDs and dates of publication to add new items to the database. Columns of Id and Date must be available.</p>

<div class="mb-3">
    <form action="" method="POST" enctype="multipart/form-data" class="row g-2">
        <div class="col-auto">
            <input type="file" name="file" accept=".csv" class="form-control" id="fileInput" onchange="fileSelected()">
        </div>
        <div class="col-auto">
            <input type="submit" value="Upload" class="btn btn-primary mb-3" id="submitBtn" disabled>
        </div>
    </form>
</div>

<script>
    function fileSelected() {
        var fileInput = document.getElementById('fileInput');
        var submitBtn = document.getElementById('submitBtn');

        // Enable the submit button if a file is selected
        if (fileInput.value) {
            submitBtn.disabled = false;
        } else {
            submitBtn.disabled = true;
        }
    }
</script>

{% endblock %}